 $text: #676767;
 $bg: #eef1f3;
 $blue_btn: #0674ec;
 $purple_btn: #7347c1;
 $bg_light-gray:#f6f7fb;
 $bg_category: #f1f3f6;
 $bg_gray:#eff1f5;
 $border: #ececec;
 $blue_bg: #e6f1fd;
 $text_info: #555;
 $green: #62d03b;
 $pink: #ff6a6c;
 $name: #333;